<table>
  <thead>
    <tr>
      <th></th>
      <th>列車進入月台車站之站名</th>
      <th>行駛目的地</th>
      <th>資料更新日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ item.Station }}</td>
      <td>{{ item.Destination }}</td>
      <td>{{ item.UpdateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>

<power-boost-calculator></power-boost-calculator>

<!-- show選擇方式1 -->

<!--
<input type="checkbox" [(ngModel)]="isVisible"> 顯示內容？

<div *appUnless="isVisible">
  我只有在 isVisible 為 false 時才出現
</div> 
-->

<!-- show選擇方式2 -->

<p *appUnless="condition" class="unless a">
  (A) 由於條件為假，因此顯示此段落。
</p>

<p *appUnless="!condition" class="unless b">
  (B) 儘管條件為真，但由於 appUnless 設定為 false，因此會顯示此段落。
</p>

<button (click)="condition = !condition">
  Toggle Condition (現在狀態: {{ condition }})
</button>


<!-- 傳入字串 -->
<p [appHighlight]="'yellow'">我會在 hover 時變成黃色</p>

<!-- 傳入變數 -->
<p [appHighlight]="myColor">我會變成變數指定的顏色</p>

<!-- 如果沒傳值，預設為紅色 -->
<p appHighlight>我會變成紅色</p>


<app-message-board></app-message-board>

<app-todo-list></app-todo-list>

<router-outlet></router-outlet>
